.aurora-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.aurora-container canvas {
  width: 100%;
  height: 100%;
  display: block;
}


#projects .aurora-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}